<?xml version="1.0"?>
<configuration>


  <location path="Manage.aspx">
    <connectionStrings>
      <add name="GalwayTours" providerName="System.Data.SqlClient" connectionString="Data Source=LUGH3.it.nuigalway.ie;Initial Catalog=msdb1343;Persist Security Info=True;User ID=msdb1343;Password=msdb1343DA" />
    </connectionStrings>
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

</configuration>
